<div class="side-header">
  <div class="side-left-box">
   <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>

  <div class="side-right-box">
  <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
   <div class="room">
    <div class="room-name">
      <a href="#">room1</a>
    </div>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="#">room2</a>
    </div>
  </div>
</div>