<div class="side-header">
  <div class="side-left-box">
   <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>

  <div class="side-right-box">
  <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
    <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
  </div>

  <div class="room">
    <div class="room-name">
      <a href="#">room2</a>
    </div>
  </div>
</div>