.wrapper {
  display: flex;
}

.side-box {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253141;
}

.side-left-box a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}


.side-right-box a {
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: solid 1px lightblue;
  text-decoration: none;
}


.rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0px 40px 0px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.main-box{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main-header {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;

}

.header-title  {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}



.header-button { 
  margin-top: 40px;
}

.header-button a {
  color: darkred;
  text-decoration: none;
  border: solid 1px darkred;
  padding: 20px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0 40px;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message {
  display: flex;
}

.message-user {
  color: 16px;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}


.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}


.main-footer {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  width: 100%;
  background-color: white;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38aef0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}